a {
    color: inherit;
    text-decoration: none;
}

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: lightgray;
}

.formularioCompra {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 500px;
    height: 220px;
    padding: 50px;
}

.cartContainer {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    
}

form {
    display: flex;
    flex-flow: column;
}

.carritoVacio {
    width: 50%;
    position: relative;
    left: 400px;
    top: 150px;
}