.brand a {
    color: black;
    padding: 40px 3px 3px 6px;
}

.elementosNav {
    list-style: none;
    display: flex;
    color: black;
    position: relative;
    right: 30px
}

.elementosNav li a {
    padding: 3px;
}

.navegador {
    display: flex;
    justify-content: space-between;
    background-color: yellow;
}

.carrito {
    display: flex;
    justify-content: flex-end;
    padding-right: 40px;
}