.brand {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    padding: 3px 3px 3px 6px;
}

.elementosNav {
    list-style: none;
    display: flex;
    color: white;
}

.elementosNav li {
    padding: 3px;
}

.navegador {
    display: flex;
    justify-content: space-between;
    background-color: black;
}

.carrito {
    display: flex;
    justify-content: flex-end;
}