.itemListDiv {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.card {
    padding: 40px;
    margin: 20px;
    border: solid 1px;
    border-radius: 2px;
    background-color: wheat;
    max-width: 250px;
}

.cardContainer {
    display: flex;
}

.productDetailDiv {
    display: flex;
    flex-flow: column;
    margin: 10px;
}

.detailPageCard {
    display: flex;
    padding: 40px;
    margin: 20px;
    border: solid 1px;
    border-radius: 2px;
    background-color: wheat;
    width: 100%;
    height: 200px;
}
